<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Kernel</key>
        <dict>
            <key>Patch</key>
            <array>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string></string>
                    <key>Comment</key>
                    <string>BigSur-Monterey</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <true />
                    <key>Find</key>
                    <data>6wpBg+YPQdM=</data>
                    <key>Identifier</key>
                    <string>com.apple.iokit.IOUSBHostFamily</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string>21.99.99</string>
                    <key>MinKernel</key>
                    <string>20.0.0</string>
                    <key>Replace</key>
                    <data>6wpBg+Y/QdM=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string></string>
                    <key>Comment</key>
                    <string>Ventura-Sonoma</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true />
                    <key>Find</key>
                    <data>QYPlD0HT5UQJ6w==</data>
                    <key>Identifier</key>
                    <string>com.apple.iokit.IOUSBHostFamily</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>22.0.0</string>
                    <key>Replace</key>
                    <data>QYPlP0HT5UQJ6w==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string>__ZN8AppleRTC18setupDateTimeAlarmEPK11RTCDateTime</string>
                    <key>Comment</key>
                    <string>Disable RTC wake scheduling</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <true />
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>com.apple.driver.AppleRTC</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>19.0.0</string>
                    <key>Replace</key>
                    <data>ww==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
            </array>
        </dict>
    </dict>
</plist>
